<!DOCTYPE html>
<html data-ng-app="HairSalonWeb">
<head>
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>Hair Salon</title>
    <link href="content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="content/css/site.css" rel="stylesheet" />
    <link href="content/css/loading-bar.css" rel="stylesheet" />
    <link rel="stylesheet" href="content/css/angular-reservation.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body id="top" ng-init="ngLoaded = true" class="fade" ng-class="{ in: ngLoaded }">
    <a id="top"></a>
    <div id="navBar" class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="indexController">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand js-scroll-trigger" href="" data-ng-click="gotoTop()">Logo</a>
            </div>

            <div class="collapse navbar-collapse" data-collapse="!navbarExpanded" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a class="js-scroll-trigger" href="#!reservation">Book Now</a></li>
                    <li><a class="js-scroll-trigger" href="#about">About</a></li>
                    <li> <a class="js-scroll-trigger" href="#team">Team</a></li>
                    <li> <a class="js-scroll-trigger" href="#contact">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-hide="!authentication.isAuth"><a href="#">Welcome {{authentication.userName}}</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#!account">My Account</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="logOut()">Logout</a></li>
                    <li data-ng-hide="authentication.isAuth"> <a href="#!login">Login</a></li>
                    <li data-ng-hide="authentication.isAuth"> <a href="#!signup">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
        <div class="overlay"></div>
        <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bs-carousel" data-slide-to="1"></li>
            <li data-target="#bs-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item slides active">
                <div class="slideOne"></div>
                <div class="hero">
                    <hgroup>
                        <h1>Book an appointment minutes</h1>
                        <h3>Log in or sign up to book an appointment</h3>
                    </hgroup>
                    <button class="btn btn-hero btn-lg" role="button">Book Now</button>
                </div>
            </div>
            <div class="item slides">
                <div class="slideTwo"></div>
                <div class="hero">
                    <hgroup>
                        <h1>Wide range of services</h1>
                        <h3>We offer an amazing range of services</h3>
                    </hgroup>
                    <button class="btn btn-hero btn-lg" role="button">Book Now</button>
                </div>
            </div>
            <div class="item slides">
                <div class="slideThree"></div>
                <div class="hero">
                    <hgroup>
                        <h1>Best in the South-West</h1>
                        <h3>Our employees are ranked as some of the best in the south-west</h3>
                    </hgroup>
                    <button class="btn btn-hero btn-lg" role="button">Book Now</button>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 5px; margin-bottom: 5px">
    </div>
    <div class="container">
        <div data-ng-view="">
        </div>
    </div>
    <hr />
    <footer>
        <p style="text-align: center">© 2017[Hair Salon Name], All rights reserved 2017-2018. - <a style="color:#0a93a6; text-decoration:none;" href="#!termsAndCon"> Terms and Conditions</a> - <a style="color:#0a93a6; text-decoration:none;" href="#!privacyPolicy"> Privacy Policy</a></p>
    </footer>

    <!-- 3rd party libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>



    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="scripts/loading-bar.js"></script>

    <!-- Load app main script -->
    <script src="app/app.js"></script>
    <script src="scripts/scrolling-nav.js"></script>

    <!-- Load services -->
    <script src="app/services/authInterceptorService.js"></script>
    <script src="app/services/authService.js"></script>
    <script src="app/services/accountService.js"></script>
    <!-- Load controllers -->
    <script type="text/javascript" src="app/controllers/indexController.js"></script>
    <script type="text/javascript" src="app/controllers/homeController.js"></script>
    <script type="text/javascript" src="app/controllers/loginController.js"></script>
    <script type="text/javascript" src="app/controllers/signupController.js"></script>
    <script type="text/javascript" src="app/controllers/accountController.js"></script>
    <script type="text/javascript" src="app/controllers/bookingController.js"></script>
    <script type="text/javascript" src="app/factory/bookingAPIFactory.js"></script>
    <script type="text/javascript" src="app/providers/bookingConfigProvider.js"></script>
</body>
</html>